<mat-toolbar>
    <h1 class="title">myLC</h1>
    <div style="display: flex; align-items: center">
        <button mat-icon-button (click)="toggleDarkMode()" matTooltip="Switch to {{isDark ? 'Light Mode': 'Dark Mode'}}">
            <mat-icon *ngIf="isDark ;else darkToggle" fontIcon="light_mode" ></mat-icon>
            <ng-template #darkToggle>
                <mat-icon fontIcon="dark_mode"></mat-icon>
            </ng-template>
        </button>
        <div *ngIf="auth.user$ | async as user; else login">
            <button matTooltip="Log out" mat-raised-button color="accent" aria-label="Example icon button with a menu icon" (click)="auth.signOut()">
                LOGOUT
            </button>
        </div>
        <ng-template #login>
            <button matTooltip="Log in to save progress across devices" mat-raised-button color="accent" aria-label="Example icon button with a menu icon" (click)="auth.googleSignIn()">
                LOGIN
            </button>
        </ng-template>
    </div>

</mat-toolbar>
