.mat-table {
    width:100%;
    transition: all 200ms linear;
  }
  a {
      color: inherit;
      text-decoration: none; 
    }
  .mat-row,
  .mat-header-row {
      overflow-x: scroll;
      display: table-row;
  }
  .mat-column-Status {
      width: 10%;
      text-align: center;
  }
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    overflow-x: auto;
  
  }
  .table-container {
    justify-content: center;
    overflow: auto;
  }
  