
    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>{{category}}</mat-panel-title>
    </mat-expansion-panel-header>
    
    <div>
      <div *ngIf="this.isRec;else normal">
        <app-recs-list (recSelectionEvent)="recSelectionEmit($event)" [probSelectionEvent]="probSelection"></app-recs-list>
      </div>
      <ng-template #normal>
        <app-problem-list [problems]="problems" [category]="category" [recSelection]="recSelection" (problemSelectionEvent)="problemSelectionEmit($event)"></app-problem-list>
      </ng-template>
    </div>
  </mat-expansion-panel>
