mat-panel-title {
    justify-content: center;
    font-size: 20px;
}
mat-expansion-panel {
    align-items: center;
    width: 80%;
    margin:-3px 10%;
    border: 3px solid;
    padding: 5px 0;
    border-collapse: collapse;
}
mat-expansion-panel-header {
    padding:0;
    text-align: center;    
}
