/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzgwZWQ3YSIsIj9lcjwjZDlmYWQ3IiwiO2VyPCM2M2U1NWR$LCIlPmBePCNmMWM4NzYiLCI~ZXI8I2ZiZWZkNiIsIjtlcjwjZWJiNDU5fiwid2Fybj5gXjwjZjM5ZTllIiwiP2VyPCNmYmUyZTIiLCI7ZXI8I2VkODI4Mn4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PE11bGlzaH4sYEA8KC0zIiwiZmFtaWx5PE11bGlzaH4sYEA8KC0yIiwiZmFtaWx5PE11bGlzaH4sYEA8KC0xIiwiZmFtaWx5PE11bGlzaH4sYEA8aGVhZGxpbmUiLCJmYW1pbHk8TXVsaXNofixgQDx0aXRsZSIsImZhbWlseTxNdWxpc2h$LGBAPHN1YiktMiIsImZhbWlseTxNdWxpc2h$LGBAPHN1YiktMSIsImZhbWlseTxNdWxpc2h$LGBAPGJvZHktMiIsImZhbWlseTxNdWxpc2h$LGBAPGJvZHktMSIsImZhbWlseTxNdWxpc2h$LGBAPGJ1dHRvbiIsImZhbWlseTxNdWxpc2h$LGBAPGNhcHRpb24iLCJmYW1pbHk8TXVsaXNofixgQDxpbnB1dCIsImZhbWlseTxNdWxpc2giLCJzaXplPm51bGx9XSwiaWNvbnM8RmlsbGVkIiwiP25lc3M$dHJ1ZSwidmVyc2lvbj4xM30=
*/

@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;

// Theme Config

body {
  --primary-color: #80ed7a;
  --primary-lighter-color: #d9fad7;
  --primary-darker-color: #63e55d;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}   
$mat-primary: (
  main: #80ed7a,
  lighter: #d9fad7,
  darker: #63e55d,
  200: #80ed7a, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);


body {
  --accent-color: #f1c876;
  --accent-lighter-color: #fbefd6;
  --accent-darker-color: #ebb459;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}   
$mat-accent: (
  main: #f1c876,
  lighter: #fbefd6,
  darker: #ebb459,
  200: #f1c876, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);


body {
  --warn-color: #f39e9e;
  --warn-lighter-color: #fbe2e2;
  --warn-darker-color: #ed8282;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}   
$mat-warn: (
  main: #f39e9e,
  lighter: #fbe2e2,
  darker: #ed8282,
  200: #f39e9e, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);
;

$theme: mat.define-light-theme(
    (    color: (
            primary: $theme-primary,
            accent: $theme-accent,
            warn: $theme-warn,
        ))
    );

// Theme Init
@include mat.chips-theme($theme);

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}
